// Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$HindMadurai: "Hind Madurai";

// Default properties
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        img {
            width: 79px;
            height: 79px;
        }
    }

    nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 40px;
        }

        ul a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            opacity: 0.6;
            color: #150101;
            transition: .4s ease-in-out;
        }

        ul a:hover {
            opacity: 1;
            font-size: 15px;
            font-weight: bold;
            color: #d23166;
        }
    }

    button {
        color: #fafafa;
        background-color: #d23166;
        padding: 14px 50px 13px;
        border-radius: 5px;
        font-family: $HindMadurai;
        font-weight: bold;
        border: 1px solid #000;
    }

    button a {
        color: #fafafa;
    }
}

main {

    // First Container
    .firstContainer {
        display: flex;
        flex-direction: column;
        height: 862px;
        justify-content: center;
        padding-left: 8vw;
        align-items: first baseline;
        background: url("../images/firstContainerWave.png") no-repeat, url("../images/firstContainerIceCream.png") no-repeat, url("../images/Elipse_18.svg") no-repeat, #f2ceda;
        background-position: 114% 85%, right center, 90% 82%;

        button {
            margin-top: 3vw;
            background-color: #d23166;
            padding: 14px 50px 13px;
            border-radius: 5px;
            font-family: "Hind Madurai";
            font-weight: bold;

            a {
                color: #fafafa;
            }
        }

        p {
            font-family: $HindMadurai;
            opacity: 0.6;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            color: #0f0101;
        }

        h5 {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.4px;
            color: #0f0101;
        }

        h1 {
            font-family: "Fredoka";
            font-weight: bold;
            font-size: 57.3px;
            line-height: 1.21;

            b {
                color: #d23166;
            }
        }
    }

    // Second Container
    .secondContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2vw 0;

        .secondContainerItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 7px;
            border: solid 1px rgba(0, 0, 0, 0.03);
            font-family: $HindMadurai;
            text-align: center;
            padding: 2vw;

            h4 {
                font-size: 20px;
                font-weight: 600;
                color: #000;
            }

            p {
                font-size: 14px;
                opacity: 0.6;
            }
        }
    }

    .thirdContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: url("../images/thirdBackground.png") no-repeat #F8EDF0;
        background-position: right center;
        height: 544.5px;
        padding-left: 8vw;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2vw;
            background-color: #d23166;
            padding: 15px 42px;
            border-radius: 5px;
            font-family: "Hind Madurai";
            font-weight: bold;

            a {
                color: #fafafa;
            }
        }

        h2 {
            font-family: $HindMadurai;
            font-size: 44.2px;
            font-weight: 600;
            font-stretch: normal;
            line-height: 1.11;
            color: #150101;
        }

        p {
            opacity: 0.6;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.5;
            color: #150101;
        }
    }

    // Fourth container
    .fourthContainer {
        .fourthContainerHeading {
            font-family: $HindMadurai;
            font-size: 44.2px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #150101;
            padding: 4vw 0 2vw 0;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .fourthSelectContainer {
            display: flex;
            gap: 2vw;

            a {
                opacity: 0.6;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                color: #000;
                transition: 0.4s ease-in-out;
            }

            a:hover {
                opacity: 1;
                border-bottom: 3px solid #d64374;
            }
        }
    }

    .fourthItemContainer {
        display: flex;
        align-items: center;
        gap: 5vw;

        .fourthItemTextContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #d23166;
                padding: 15px 42px;
                border-radius: 5px;
                font-family: "Hind Madurai";
                font-weight: bold;

                a {
                    color: #fafafa;
                }
            }
        }

        p {
            opacity: 0.7;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.5;
            color: #000;
            max-width: 454px;
        }

        h4 {
            font-family: $HindMadurai;
            font-size: 26px;
            font-weight: bold;
            color: #000;
        }

    }

    .priceH6Container {
        width: 100%;
        max-width: 134px;
        display: flex;
        margin-top: 2vw;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        font-family: $HindMadurai;
        color: #000;
        font-weight: 500;

        span {
            font-size: 26px;
        }

        p {
            text-decoration: line-through;
            opacity: 0.7;
            font-family: $HindMadurai;
            font-size: 20px;
        }
    }

    .fourthItemContainer:nth-child(4) {
        flex-direction: row-reverse;

        .fourthItemTextContainer {
            align-items: flex-end;
        }

        p {
            text-align: right;
        }
    }

    .fourthItemContainer:last-child {
        flex-direction: row-reverse;

        .fourthReviewContainer {
            .fourthReviewTextContainer {
                blockquote>span:before {
                    content: url("../images/Vector.svg") url("../images/Vector.svg");
                    color: #f6762c;
                    font-size: 25px;
                    margin-right: 0.5vw;
                }

                blockquote>span:after {
                    content: url("../images/Vector_1_.svg") url("../images/Vector_1_.svg");
                    color: #f6762c;
                    font-size: 25px;
                    margin-left: 0.5vw;
                }

                span {
                    display: block;
                    width: 100%;
                    max-width: 322px;
                    opacity: 0.7;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    color: #000;
                }
            }

            .fourthContainerAvatar {
                display: flex;
                align-items: center;
                gap: 1vw;

                div {
                    font-family: Roboto;

                    span {
                        font-size: 24px;
                    }

                    p {
                        opacity: 0.7;
                        font-size: 12px;
                        font-weight: 500;
                        color: #000;
                    }
                }
            }

            .fourthCarouselContainer {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1vw;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1vw;

                    img {
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    // Fifth Container
    .fifthContainer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8.5vw;

        background: #F8EDF0;

        .fifthContainerLinks {
            display: flex;
            align-items: center;
        }

        .fifthTextContainer {
            font-family: Roboto;

            span {
                font-size: 44.2px;
                font-weight: 500;
            }

            ul {
                margin-top: 1vw;
                list-style: none;
                display: grid;
                grid-template-rows: repeat(3, auto);
                row-gap: 1vw;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1vw;

                    div {
                        display: flex;
                        width: 30px;
                        height: 30px;
                        align-items: center;
                        background-color: #fafafa;
                        border-radius: 5px;
                        justify-content: center;
                    }
                }

            }

            p {
                opacity: 0.7;
                font-size: 18px;
                letter-spacing: 0.18px;
                text-align: left;
                color: #0f0101;
                width: 100%;
                max-width: 607px;
            }
        }
    }

    // Sixth container
    .sixthContainer {
        padding: 8vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: Roboto;

        #sixthHeading {
            text-align: center;
            font-size: 44px;
            font-weight: 500;
        }


        form {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            label {
                margin-bottom: 20px;
            }

            #question {
                display: flex;
                padding: 24px;
                align-items: center;
                width: 100%;
                border-radius: 5px;
                background-color: #FAFAFA;
            }

            #submit {
                padding: 20px;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                color: #fff;
                background-color: #d23166;
                border-radius: 5px;
            }

        }
    }
}

// Footer

footer {
    background-color: #000;
    padding: 6vw;

    .footerLogo {
        width: 79px;
    }

    .footerItems {
        display: grid;
        grid-template-columns: repeat(4, auto);
        font-family: Roboto;

        .footerItem {
            display: grid;
            grid-template-rows: repeat(6, auto);

            a {
                opacity: 0.7;
                font-size: 12px;
                color: #fff;
                transition: .4s ease-in-out;
            }

            a:hover {
                opacity: 1;
            }

            span {
                opacity: 0.7;
                line-height: 1.4;
                letter-spacing: 0.12px;
                color: #fff;
            }

            p {
                margin-top: 1vw;
                font-size: 12px;
                font-weight: 500;
                color: #fff;
            }

            ul {
                margin-top: 1vw;
                display: flex;
                list-style-type: none;
                gap: 10px;
            }

            form {
                font-size: 14px;
                color: #fafafa;

                label {
                    font-size: 16px;
                }

                div {
                    margin-top: 20px;
                    border-radius: 5px;
                    border: solid 2px rgba(214, 67, 116, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                #email {
                    color: #FFFFFF;
                    opacity: 0.6;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    border-radius: 5px;
                }

                #submitFooter {
                    opacity: 1;
                    border-radius: 5px;
                    padding: 16px;
                    font-size: 20px;
                    color: #fafafa;
                    background-color: #D23166;
                }
            }
        }
    }
}